

nav{
  margin: 0 auto;
  display: flex;
  justify-content:  space-around;
  align-items: center;
  height: 10vh;
  width:100vw;
  background-color: black;
}

.wrappingcontainer{
  margin: 10px auto;
  border-radius: 5px;
  padding: 25px;
  background-color: lightgrey;
  width:80vw;
}

Button{
  width:100px;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

.inlogbtn{
  background-color: #5f9ea0;
}

.homebtn{
  background-color: #f08080;
}

.blogbtn{
  background-color: #add8e6;
}

.uitloggenbtn{
  background-color: #708090;
}

#bloglogo{
  max-height: 9.5vh;
}

ul{
  list-style: none;
}

#navlist{

  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postlist{
  background-color: #f08080;
  padding: 10px 20px;
  border-radius: 30px;
}



